<ion-header>
  <ion-toolbar>
    <ion-buttons class="button-back" slot="start">
      <ion-back-button defaultHref="/" text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title><p>Quản lý tiền mặt</p></ion-title>
    <ion-buttons slot="end">
      <ion-button href="cash-manage/add" fill="clear">
        <img src="../../../assets/images/cashPlan-icon-2.svg" alt="" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="--gray" scroll-y="false">
  <div class="section cash-manage manage">
    <div class="cash-manage__wrap">
      <div class="cash-manage__wallet">
        <p class="cash-manage__wallet-name">Ví tổng</p>
        <div class="cash-manage__wallet-money">
          <span class="number">*********</span>
          <span class="icon">
            <ion-icon name="eye-off-outline"></ion-icon>
          </span>
        </div>
      </div>

      <div class="cash-manage__transfer">
        <ion-button fill="outline" shape="round" href="cash-manage/transfer">
          Phân bổ dòng tiền
          <img src="../../../assets/images/icon-right-up.svg" alt="" />
        </ion-button>
      </div>

      <div class="cash-manage__cash-index">
        <div class="item">
          <p class="text">Tổng thu</p>
          <p class="price --success">5.000.000đ</p>
        </div>
        <div class="item">
          <p class="text">Tổng chi</p>
          <p class="price --danger">5.000.000đ</p>
        </div>
      </div>

      <p class="sub-title">Thống kê thu chi</p>
      <div class="cash-manage__cash-statistical">
        <div class="statistical-note">
          <p class="date">Năm 2023</p>
          <div class="note">
            <div class="item">
              <span class="status --success"></span>
              <span class="text">Thu</span>
            </div>
            <div class="item">
              <span class="status --danger"></span>
              <span class="text">Chi</span>
            </div>
          </div>
        </div>
        <div class="statistical-chart">
          <canvas id="statistical"></canvas>
        </div>
      </div>

      <div class="cash-manage__info detail-tabs">
        <ul
          class="nav nav-pills nav-pills--parent mb-3"
          id="pills-tab"
          role="tablist"
        >
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="searchCash-tab"
              data-bs-toggle="pill"
              data-bs-target="#searchCash"
              type="button"
              role="tab"
              aria-controls="searchCash"
              aria-selected="true"
            >
              Tra cứu DT
            </button>
          </li>

          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="collect-tab"
              data-bs-toggle="pill"
              data-bs-target="#collect"
              type="button"
              role="tab"
              aria-controls="collect"
              aria-selected="false"
            >
              Dòng tiền thu
            </button>
          </li>

          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="spend-tab"
              data-bs-toggle="pill"
              data-bs-target="#spend"
              type="button"
              role="tab"
              aria-controls="spend"
              aria-selected="false"
            >
              Dòng tiền chi
            </button>
          </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="searchCash"
            role="tabpanel"
            aria-labelledby="searchCash-tab"
          >
            <div class="search-bar">
              <ion-item class="ion-no-padding login-input">
                <img
                  class="icon-input"
                  src="../../assets/images/icon-search.svg"
                  alt=""
                />
                <ion-input
                  class="form-control"
                  placeholder="Tìm kiếm"
                ></ion-input>
              </ion-item>
            </div>

            <div class="cash-manage__filter">
              <img src="../../../../assets/images/cashPlan-icon-3.svg" alt="" />
              <div class="cash-manage__filter-wrap">
                <ion-button id="categories">
                  Danh mục
                  <img src="../../../../assets/images/icon-right.svg" alt="" />
                </ion-button>

                <ion-button id="classify">
                  Phân loại
                  <img src="../../../../assets/images/icon-right.svg" alt="" />
                </ion-button>

                <ion-button id="priority">
                  Ưu tiên
                  <img src="../../../../assets/images/icon-right.svg" alt="" />
                </ion-button>
              </div>
            </div>

            <div class="cash-manage__list">
              <div class="cash-manage__item">
                <p class="cash-manage__time">17/03/2023 Thứ 6</p>
                <div class="cash-manage__box">
                  <div class="cash-manage__detail">
                    <a href="#">
                      <div class="header">
                        <p class="name">Thu nhập từ lương...</p>
                        <p class="number --success">0đ</p>
                      </div>
                      <div class="info">
                        <div class="info-item">
                          <span>Danh mục</span>
                          <span>Thu Nhập Lương/Tiết Kiệm</span>
                        </div>
                        <div class="info-item">
                          <span>Chi tiết</span>
                          <span>Aa</span>
                        </div>
                        <div class="info-item">
                          <span>Người yêu cầu duyệt</span>
                          <ion-avatar>
                            <img
                              alt="Silhouette of a person's head"
                              src="https://ionicframework.com/docs/img/demos/avatar.svg"
                            />
                          </ion-avatar>
                        </div>
                        <div class="info-item">
                          <span>Người đã phê duyệt</span>
                          <ion-avatar>
                            <img
                              alt="Silhouette of a person's head"
                              src="https://ionicframework.com/docs/img/demos/avatar.svg"
                            />
                          </ion-avatar>
                        </div>
                      </div>
                      <div class="tag">
                        <div class="tag-item">
                          <img
                            src="../../../assets/images/icon-tag-one.svg"
                            alt=""
                          />
                          Chi
                        </div>
                        <div class="tag-item --warning">
                          <img
                            src="../../../assets/images/icon-bell-noti.svg"
                            alt=""
                          />
                          Khẩn cấp
                        </div>
                        <div class="tag-item --warning">Chờ duyệt</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="collect"
            role="tabpanel"
            aria-labelledby="collect-tab"
          >
            <div class="cash-manage__chart">
              <div class="cash-manage__chart-body">
                <div class="filter-time">
                  <div class="filter-time__wrap">
                    <div class="filter-time__range">
                      <ion-datetime-button
                        datetime="datetime2"
                        color="dark"
                        class="custom"
                      ></ion-datetime-button>
                    </div>
                    <img
                      class="filter-time__icon"
                      src="../../../assets/images/icon-calendar.svg"
                      alt=""
                    />
                  </div>
                </div>

                <div class="chart-wrap">
                  <canvas id="collectChart" width="232" height="232"></canvas>
                </div>
              </div>
            </div>

            <div class="cash-manage__menu">
              <ion-item
                class="cash-manage__menu-item"
                lines="none"
                detail="true"
                id="detailCash"
              >
                <span class="status-tag --success"></span>
                <ion-label>
                  <h3>Thu nhập Lương/ Tiết kiệm (40%)</h3>
                  <p>0đ</p>
                </ion-label>
              </ion-item>

              <ion-item
                class="cash-manage__menu-item"
                lines="none"
                detail="true"
                id="detailCash"
              >
                <span class="status-tag --blue"></span>
                <ion-label>
                  <h3>Thu nhập Đầu tư (20%)</h3>
                  <p>0đ</p>
                </ion-label>
              </ion-item>

              <ion-item
                class="cash-manage__menu-item"
                lines="none"
                detail="true"
                id="detailCash"
              >
                <span class="status-tag --warning"></span>
                <ion-label>
                  <h3>Thu nhập Kinh doanh (30%)</h3>
                  <p>0đ</p>
                </ion-label>
              </ion-item>

              <ion-item
                class="cash-manage__menu-item"
                lines="none"
                detail="true"
                id="detailCash"
              >
                <span class="status-tag --blue-light"></span>
                <ion-label>
                  <h3>Thu nhập khác (10%)</h3>
                  <p>0đ</p>
                </ion-label>
              </ion-item>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="spend"
            role="tabpanel"
            aria-labelledby="spend-tab"
          >
            <div class="cash-manage__chart">
              <div class="cash-manage__chart-body">
                <div class="filter-time">
                  <div class="filter-time__wrap">
                    <div class="filter-time__range">
                      <ion-datetime-button
                        datetime="datetime3"
                        color="dark"
                        class="custom"
                      ></ion-datetime-button>
                    </div>
                    <img
                      class="filter-time__icon"
                      src="../../../assets/images/icon-calendar.svg"
                      alt=""
                    />
                  </div>
                </div>

                <div class="chart-wrap">
                  <canvas id="spendChart" width="232" height="232"></canvas>
                </div>
              </div>
            </div>

            <div class="cash-manage__menu">
              <ion-item
                class="cash-manage__menu-item"
                lines="none"
                detail="true"
                id="detailCash"
              >
                <span class="status-tag --danger"></span>
                <ion-label>
                  <h3>Thu nhập Lương/ Tiết kiệm (40%)</h3>
                  <p>0đ</p>
                </ion-label>
              </ion-item>

              <ion-item
                class="cash-manage__menu-item"
                lines="none"
                detail="true"
                id="detailCash"
              >
                <span class="status-tag --blue"></span>
                <ion-label>
                  <h3>Thu nhập Đầu tư (20%)</h3>
                  <p>0đ</p>
                </ion-label>
              </ion-item>

              <ion-item
                class="cash-manage__menu-item"
                lines="none"
                detail="true"
                id="detailCash"
              >
                <span class="status-tag --warning"></span>
                <ion-label>
                  <h3>Thu nhập Kinh doanh (30%)</h3>
                  <p>0đ</p>
                </ion-label>
              </ion-item>

              <ion-item
                class="cash-manage__menu-item"
                lines="none"
                detail="true"
                id="detailCash"
              >
                <span class="status-tag --blue-light"></span>
                <ion-label>
                  <h3>Thu nhập khác (10%)</h3>
                  <p>0đ</p>
                </ion-label>
              </ion-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-modal
    #categories
    trigger="categories"
    [initialBreakpoint]="0.5"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-content scroll-y="false">
        <p class="modal-title">Lọc Phân loại</p>
        <div class="modal-list categories-list">
          <ion-radio-group value="categories">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img
                  alt=""
                  src="../../../../assets/images/cashPlan-icon-4.svg"
                />
              </ion-thumbnail>
              <ion-label>Cá nhân</ion-label>
              <ion-radio slot="end" value="demo1"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img
                  alt=""
                  src="../../../../assets/images/cashPlan-icon-5.svg"
                />
              </ion-thumbnail>
              <ion-label>Gia đình</ion-label>
              <ion-radio slot="end" value="demo2"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img
                  alt=""
                  src="../../../../assets/images/cashPlan-icon-6.svg"
                />
              </ion-thumbnail>
              <ion-label>Đầu tư</ion-label>
              <ion-radio slot="end" value="demo3"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img
                  alt=""
                  src="../../../../assets/images/cashPlan-icon-7.svg"
                />
              </ion-thumbnail>
              <ion-label>Kinh doanh</ion-label>
              <ion-radio slot="end" value="demo4"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img
                  alt=""
                  src="../../../../assets/images/cashPlan-icon-8.svg"
                />
              </ion-thumbnail>
              <ion-label>Dòng tiền khác</ion-label>
              <ion-radio slot="end" value="demo6"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
        <div class="modal-control">
          <ion-button class="btn-cancel">Xóa bộ lọc</ion-button>
          <ion-button class="btn-accept">Xác nhận</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal
    #priority
    trigger="priority"
    [initialBreakpoint]="0.5"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-content scroll-y="false">
        <p class="modal-title">Lọc theo ưu tiên</p>
        <div class="modal-list priority-list">
          <ion-radio-group value="priority">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img
                  alt=""
                  src="../../../../assets/images/icon-bell-danger.svg"
                />
              </ion-thumbnail>
              <ion-label>Khẩn cấp</ion-label>
              <ion-radio slot="end" value="demo1"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img
                  alt=""
                  src="../../../../assets/images/icon-bell-warning.svg"
                />
              </ion-thumbnail>
              <ion-label>Quan trọng</ion-label>
              <ion-radio slot="end" value="demo2"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img
                  alt=""
                  src="../../../../assets/images/icon-bell-success.svg"
                />
              </ion-thumbnail>
              <ion-label>Trung bình</ion-label>
              <ion-radio slot="end" value="demo"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img
                  alt=""
                  src="../../../../assets/images/icon-bell-nomal.svg"
                />
              </ion-thumbnail>
              <ion-label>Thấp</ion-label>
              <ion-radio slot="end" value="demods"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
        <div class="modal-control">
          <ion-button class="btn-cancel" (click)="priority.dismiss()"
            >Hủy bỏ</ion-button
          >
          <ion-button class="btn-accept">Xác nhận</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime2" presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime3" presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-modal
    #detailCash
    class="detailCash-wrap"
    trigger="detailCash"
    [initialBreakpoint]="0.75"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-content scroll-y="false">
        <p class="modal-title">Chi tiết thu nhập Lương/ Tiết kiệm</p>
        <div class="modal-body">
          <div class="cash-manage__chart">
            <div class="cash-manage__chart-body">
              <div class="filter-time">
                <div class="filter-time__wrap">
                  <div class="filter-time__range">
                    <ion-datetime-button
                      datetime="datetime4"
                      color="dark"
                      class="custom"
                    ></ion-datetime-button>
                  </div>
                  <img
                    class="filter-time__icon"
                    src="../../../assets/images/icon-calendar.svg"
                    alt=""
                  />
                </div>
              </div>

              <!-- <div class="chart-wrap">
                <canvas id="detailCashChart" width="232" height="232"></canvas>
              </div> -->
            </div>
          </div>
          <ul class="detailCash-list">
            <li>
              <span class="status-tag --warning-light"></span>
              <ion-label>
                <h3>Thu nhập từ lương (20%)</h3>
                <p>0đ</p>
              </ion-label>
            </li>
            <li>
              <span class="status-tag --warning"></span>
              <ion-label>
                <h3>Thu nhập từ thưởng</h3>
                <p>0đ</p>
              </ion-label>
            </li>
            <li>
              <span class="status-tag --blue"></span>
              <ion-label>
                <h3>Thu nhập từ cộng tác viên</h3>
                <p>0đ</p>
              </ion-label>
            </li>
            <li>
              <span class="status-tag --blue-light"></span>
              <ion-label>
                <h3>Thu nhập từ lợi nhuận sổ tiết kiệm</h3>
                <p>0đ</p>
              </ion-label>
            </li>
          </ul>
        </div>
        <div class="modal-control">
          <ion-button class="btn-cancel" (click)="detailCash.dismiss()"
            >Xong</ion-button
          >
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime4" presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
