.task {
  padding: 24px 16px;
  overflow-y: scroll;

  &__control {
    display: flex;
    align-items: center;
    gap: 16px;

    #prioritize {
      --background: #f0f0f0;
      --padding-top: 4px;
      --padding-bottom: 4px;
      --padding-start: 8px;
      --padding-end: 8px;
      --color: var(--text-cl-third);
      height: auto;
      margin: 0;
      font-weight: 600;

      img {
        margin-right: 4px;
      }
    }

    &-progress {
      display: flex;
      gap: 16px;
      padding: 6px 8px;
      border-radius: 6px;
      position: relative;
      border: 1px solid var(--text-cl-third);

      &::before {
        content: "";
        width: 1px;
        height: 18px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 74px;
        transform: translateY(-50%);
        background-color: var(--text-cl-second);
      }

      .title {
        font-weight: 600;
      }

      .progress-number {
        display: flex;
        align-items: center;
        font-weight: 600;
      }

      #progressButton {
        --background: transparent;
        --padding-start: 0;
        --padding-end: 0;
        --background-activated-opacity: 0;
        --background-focused-opacity: 0;
        --background-hover-opacity: 0;
        height: auto;
        margin: 0;

        img {
          margin-left: 12px;
        }
      }
    }
  }

  &-form {
    margin-top: 24px;

    .toggle-group {
      display: flex;
      align-items: center;
      gap: 8px;

      p {
        font-size: var(--fz-small);
      }

      ion-toggle {
        padding-inline: 0;
      }
    }
  }

  .work-list {
    ion-item {
      --min-height: auto;
      --padding-start: 0;
      --inner-padding-end: 0;
      margin-bottom: 14px;

      &:last-child {
        margin-bottom: 0;
      }

      ion-thumbnail {
        --size: 32px;
        width: var(--size);
        height: var(--size);
        padding: 6px;
        margin: 0 12px 0 0;
        border-radius: 6px;
        background-color: #d9e8ff;
      }

      ion-label {
        h2 {
          font-size: var(--fz-small);
          font-weight: 500;
          margin-bottom: 2px;
        }

        p {
          font-size: 10px;
          color: var(--text-cl-third);
        }
      }
    }
  }
}
