<ion-header>
  <ion-toolbar>
    <ion-buttons class="button-back" slot="start">
      <ion-back-button
        defaultHref="/flow-cash"
        text=""
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title><p>Đang thực hiện tốt</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="--gray" scroll-y="false">
  <div class="section flow-cash status">
    <div class="flow-cash__wrap">
      <div class="search-bar">
        <ion-item class="ion-no-padding login-input">
          <img
            class="icon-input"
            src="../../assets/images/icon-search.svg"
            alt=""
          />
          <ion-input class="form-control" placeholder="Tìm kiếm"></ion-input>
        </ion-item>
      </div>

      <div class="flow-cash__list">
        <p class="flow-cash__total">Tổng: 0đ</p>
        <div class="flow-cash__item">
          <p class="flow-cash__time">17/03/2023 Thứ 6</p>
          <div class="flow-cash__box">
            <div class="flow-cash__detail">
              <p class="name">Giá vốn hàng bán</p>
              <div class="info">
                <div class="info-item">
                  <span>Danh mục</span>
                  <span>Aa</span>
                </div>
                <div class="info-item">
                  <span>Kế hoạch</span>
                  <span>Aa</span>
                </div>
                <div class="info-item">
                  <span>Ngày bắt đầu</span>
                  <span>mm/dd/yy</span>
                </div>
                <div class="info-item">
                  <span>Ngày dự kiến hoàn thành</span>
                  <span>mm/dd/yy</span>
                </div>
                <div class="info-item">
                  <span>Số tiền kế hoạch</span>
                  <span class="number --success">0đ</span>
                </div>
                <div class="info-item">
                  <span>Số tiền đang thực hiện</span>
                  <span class="number --success">0đ</span>
                </div>
                <div class="info-item">
                  <span>Số tiền còn lại</span>
                  <span class="number --success">0đ</span>
                </div>
              </div>
              <div class="timeline --success">
                <p class="progress-text">Tiến độ thực hiện: 75%</p>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 75%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>

            <div class="flow-cash__detail">
              <p class="name">Giá vốn hàng bán</p>
              <div class="info">
                <div class="info-item">
                  <span>Danh mục</span>
                  <span>Aa</span>
                </div>
                <div class="info-item">
                  <span>Kế hoạch</span>
                  <span>Aa</span>
                </div>
                <div class="info-item">
                  <span>Ngày bắt đầu</span>
                  <span>mm/dd/yy</span>
                </div>
                <div class="info-item">
                  <span>Ngày dự kiến hoàn thành</span>
                  <span>mm/dd/yy</span>
                </div>
                <div class="info-item">
                  <span>Số tiền kế hoạch</span>
                  <span class="number --success">0đ</span>
                </div>
                <div class="info-item">
                  <span>Số tiền đang thực hiện</span>
                  <span class="number --success">0đ</span>
                </div>
                <div class="info-item">
                  <span>Số tiền còn lại</span>
                  <span class="number --success">0đ</span>
                </div>
              </div>
              <div class="timeline --success">
                <p class="progress-text">Tiến độ thực hiện: 75%</p>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 75%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flow-cash__item">
          <p class="flow-cash__time">28/03/2023 Thứ 3</p>
          <div class="flow-cash__box">
            <div class="flow-cash__detail">
              <p class="name">Giá vốn hàng bán</p>
              <div class="info">
                <div class="info-item">
                  <span>Danh mục</span>
                  <span>Aa</span>
                </div>
                <div class="info-item">
                  <span>Kế hoạch</span>
                  <span>Aa</span>
                </div>
                <div class="info-item">
                  <span>Ngày bắt đầu</span>
                  <span>mm/dd/yy</span>
                </div>
                <div class="info-item">
                  <span>Ngày dự kiến hoàn thành</span>
                  <span>mm/dd/yy</span>
                </div>
                <div class="info-item">
                  <span>Số tiền kế hoạch</span>
                  <span class="number --success">0đ</span>
                </div>
                <div class="info-item">
                  <span>Số tiền đang thực hiện</span>
                  <span class="number --success">0đ</span>
                </div>
                <div class="info-item">
                  <span>Số tiền còn lại</span>
                  <span class="number --success">0đ</span>
                </div>
              </div>
              <div class="timeline --success">
                <p class="progress-text">Tiến độ thực hiện: 75%</p>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 75%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>

            <div class="flow-cash__detail">
              <p class="name">Giá vốn hàng bán</p>
              <div class="info">
                <div class="info-item">
                  <span>Danh mục</span>
                  <span>Aa</span>
                </div>
                <div class="info-item">
                  <span>Kế hoạch</span>
                  <span>Aa</span>
                </div>
                <div class="info-item">
                  <span>Ngày bắt đầu</span>
                  <span>mm/dd/yy</span>
                </div>
                <div class="info-item">
                  <span>Ngày dự kiến hoàn thành</span>
                  <span>mm/dd/yy</span>
                </div>
                <div class="info-item">
                  <span>Số tiền kế hoạch</span>
                  <span class="number --success">0đ</span>
                </div>
                <div class="info-item">
                  <span>Số tiền đang thực hiện</span>
                  <span class="number --success">0đ</span>
                </div>
                <div class="info-item">
                  <span>Số tiền còn lại</span>
                  <span class="number --success">0đ</span>
                </div>
              </div>
              <div class="timeline --success">
                <p class="progress-text">Tiến độ thực hiện: 75%</p>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 75%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
