* {
  box-sizing: border-box;
}

html {
  --ion-default-font: var(--font-body) !important;
}

body {
  font-family: var(--font-body);
  font-size: var(--fz-body);
  font-weight: 400;
  color: var(--text-cl-primary);
  position: relative;
  scroll-behavior: smooth;
  line-height: 1;
}

ion-title {
  font-size: var(--fz-heading);
  font-weight: 700;
  color: var(--text-cl-primary);
}

p {
  line-height: calc(22 / 16);
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-family: var(--font-body);
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

textarea {
  resize: none;
}

ion-label {
  margin: 0;
  font-size: var(--fz-body) !important;
  line-height: calc(20 / 16) !important;
}

// Custom style navigation bar header
ion-header {
  ion-toolbar {
    --border-width: 0 !important;
    --ion-safe-area-top: 20px;
    --background: center / 100% no-repeat
      url("../../assets/images/toolbar-header-img.jpg");

    ion-title {
      font-size: var(--font-body);
      color: var(--white-cl);
      font-weight: 600;
    }
  }

  .button-back {
    ion-back-button {
      font-size: 10px;
    }
  }

  .button-save {
    min-height: auto;

    ion-button {
      --color: var(--white-cl);
      font-size: var(--fz-body);
      font-weight: 600;
      height: inherit;
      margin: 0;
    }
  }
}

ion-content {
  &.--gray {
    --background: var(--gray-screen-cl);
  }

  .section {
    height: 100%;
    position: relative;
  }
}

// Custom style navigation bar footer
ion-tab-bar {
  --background: var(--white-cl);
  --border: 0;
  height: 90px;

  ion-tab-button {
    ion-icon,
    p {
      color: var(--text-cl-third);
    }

    p {
      font-size: var(--fz-small);
      font-weight: 500;
      margin-top: 8px;
    }

    &.tab-selected {
      ion-icon,
      p {
        color: var(--primary-bl-cl);
      }
    }
  }
}

// Custom style input
ion-list {
  &.form-general {
    ion-item {
      --min-height: 45px;
      --padding-start: 0;
      --inner-padding-end: 0;
      --border-color: #f1f1f1;
      margin-bottom: 16px;
      font-size: var(--fz-body);

      &:first-child {
        --min-height: auto;
        margin-bottom: 32px;

        p {
          color: var(--primary-bl-cl);
        }
      }
    }

    ion-label {
      display: flex !important;
      align-items: center;
      color: var(--text-cl-second) !important;

      .icon-label {
        margin-right: 4px;
      }
    }

    .input-group {
      width: 100%;
      position: relative;

      .icon-input {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        &.--text {
          font-weight: 700;
          font-size: var(--fz-heading);
          color: var(--text-cl-second);
        }
      }
    }

    ion-input {
      --padding-top: 0;
      --padding-end: 0;
      --padding-bottom: 0;
      --padding-start: 0;
      --color: var(--text-cl-second);
      --placeholder-color: var(--text-cl-second);
      --placeholder-opacity: 1;
    }

    p {
      font-size: var(--fz-body);
    }

    ion-datetime-button {
      margin-inline: 0;
    }
  }
}

ion-list ion-item-group ion-item {
  flex: 0 0 calc(50% - 8px);
}

// Custom style search bar
.search-bar {
  padding: 16px;

  &.search-bar--btn {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
  }

  ion-item {
    --inner-border-width: 0;
    --inner-padding-end: 0;
    border-radius: 6px;
    flex-grow: 1;
  }

  .icon-input {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    z-index: 2;
  }

  ion-input.form-control {
    --background: var(--gray-cl-1);
    --color: var(--text-cl-second);
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 42px;
    --padding-end: 15px;
    font-size: var(--fz-small);
    z-index: 1;
    border: 0;
    background-color: var(--background);
  }

  ion-button {
    height: auto;
    margin: 0;

    &.ion-button--blue {
      --background: #4083ff;
      font-size: var(--fz-small);
      font-weight: 400;
    }

    &.ion-button--gray {
      --background: var(--gray-cl-1);
    }
  }
}

// Custom style button link page add
ion-fab {
  position: fixed;
  bottom: 10px;
  right: 10px;

  ion-fab-button {
    --background: #ffc800;
  }
}

// Custom style modal user add and edit input
ion-modal {
  --border-radius: 18px;

  ion-content {
    --padding-top: 22px;
    --padding-bottom: 22px;
    --padding-start: 16px;
    --padding-end: 16px;
  }

  .modal {
    &-title,
    &-search {
      margin-bottom: 24px;
    }

    &-title {
      font-weight: 600;
      text-align: center;
    }

    &-search {
      padding: 0;
    }

    &-list {
      margin-bottom: 32px;

      ion-item {
        --min-height: auto;
        --padding-start: 0;
        --inner-padding-end: 0;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover: transparent;
        --background-activated-opacity: 0;
        --background-focused-opacity: 0;
        --background-hover-opacity: 0;
        margin-bottom: 18px;

        &.item-radio-checked {
          ion-label {
            color: #3465d9;
          }
        }
      }

      .form-general {
        ion-item {
          margin-bottom: 12px;
        }
      }

      ion-thumbnail {
        width: 24px;
        height: 24px;
        margin: 0 10px 0 0;
      }

      ion-label {
        font-weight: 500;
      }

      ion-radio {
        --color-checked: #00a325;
      }
    }

    &-control {
      display: flex;
      justify-content: space-between;

      ion-button {
        --padding-top: 10px;
        --padding-bottom: 10px;
        margin: 0;
        height: auto;
        width: calc(50% - 6px);
        &.btn-cancel {
          --color: var(--text-cl-second);
          --background: var(--gray-screen-cl);
        }

        &.btn-accept {
          --background: #3465d9;
        }
      }
    }
  }

  ion-textarea {
    --padding-top: 0;
    --padding-bottom: 0;
    --color: var(--text-cl-second);
    --placeholder-color: var(--text-cl-second);
    --placeholder-opacity: 1;
    margin-bottom: 32px;
  }
}

// Custom style chart
.chart-wrap {
  canvas {
    margin: 0 auto 32px;
  }

  &__note {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 16px;

    &-item {
      display: flex;
      align-items: baseline;
      gap: 10px;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .tag-color {
      width: 11px;
      height: 11px;
      border-radius: 50%;

      &.--green {
        background-color: #38d29e;
      }

      &.--gray {
        background-color: #f1f1f1;
      }

      &.--red {
        background-color: #f04d64;
      }

      &.--orange {
        background-color: #fd9f13;
      }
    }

    .tag-content {
      span {
        display: block;

        &.text {
          font-size: 12px;
        }

        &.number {
          font-size: var(--fz-small);
          color: var(--primary-bl-cl);
        }
      }
    }
  }
}

// Filter range time
.filter-time {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;

  &__wrap {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border-radius: 6px;
    background-color: var(--gray-cl-1);
  }

  &__range {
    display: flex;
    align-items: center;
    gap: 4px;

    span {
      color: var(--primary-bl-cl);
    }

    ion-datetime-button {
      --ion-text-color: var(--primary-bl-cl);
      --ion-color-step-300: transparent;

      &::part(native) {
        padding-inline: 0;
      }
    }
  }

  &__icon {
    flex-shrink: 0;
  }
}

// Custom tab detail product
.detail-tabs {
  margin: 0 -15px;

  .nav-pills {
    &--parent {
      --column: 2;
      width: 100%;
      background-color: var(--white-cl);

      .nav-item {
        width: calc(100% / var(--column));
      }

      .nav-link {
        width: 100%;
        font-size: var(--fz-small);
        font-weight: 500;
        padding: 16px 10px;
        border-radius: 0;
        color: var(--text-cl-primary);
        background-color: var(--white-cl);

        &.active {
          color: var(--primary-bl-cl);
          border-bottom: 1px solid var(--primary-bl-cl);
        }
      }
    }
  }
}

// Custom status tag
.status-tag {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;

  &.--success {
    background-color: #38d29e;
  }

  &.--danger {
    background-color: #f04d64;
  }
}
