* {
  box-sizing: border-box;
}

html {
  --ion-default-font: var(--font-body) !important;
}

body {
  font-family: var(--font-body);
  font-size: var(--fz-body);
  font-weight: 400;
  color: var(--text-cl-primary);
  position: relative;
  scroll-behavior: smooth;
  line-height: 1;
}

ion-title {
  font-size: var(--fz-heading);
  font-weight: 700;
  color: var(--text-cl-primary);
}

p {
  line-height: calc(22 / 16);
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-family: var(--font-body);
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

textarea {
  resize: none;
}

ion-label {
  margin: 0;
  font-size: var(--fz-body) !important;
  line-height: calc(20 / 16) !important;
}

ion-header {
  ion-toolbar {
    --border-width: 0 !important;
    --ion-safe-area-top: 20px;
    --background: center / 100% no-repeat
      url("../../assets/images/toolbar-header-img.jpg");

    ion-title {
      font-size: var(--font-body);
      color: var(--white-cl);
      font-weight: 600;
    }
  }

  .button-back {
    ion-back-button {
      font-size: 10px;
    }
  }

  .button-save {
    min-height: auto;

    ion-button {
      --color: var(--white-cl);
      font-size: var(--fz-body);
      font-weight: 600;
      height: inherit;
      margin: 0;
    }
  }
}

ion-content {
  &.--gray {
    --background: var(--gray-screen-cl);
  }

  .section {
    height: 100%;
    position: relative;
  }
}

ion-tab-bar {
  --background: var(--white-cl);
  --border: 0;
  height: 90px;

  ion-tab-button {
    ion-icon,
    p {
      color: var(--text-cl-third);
    }

    p {
      font-size: var(--fz-small);
      font-weight: 500;
      margin-top: 8px;
    }

    &.tab-selected {
      ion-icon,
      p {
        color: var(--primary-bl-cl);
      }
    }
  }
}

ion-list {
  &.form-general {
    ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;
      --border-color: #f1f1f1;
      margin-bottom: 16px;
    }

    ion-label {
      color: var(--text-cl-second) !important;
    }

    ion-input {
      --padding-top: 0;
      --padding-end: 0;
      --padding-bottom: 0;
      --padding-start: 0;
      --placeholder-color: var(--text-cl-second);
      --placeholder-opacity: 1;
    }

    .icon-input {
      &.--start {
        margin-right: 4px;
      }
    }

    p {
      font-size: var(--fz-body);
    }
  }
}

ion-list ion-item-group ion-item {
  flex: 0 0 calc(50% - 8px);
}

.search-bar {
  padding: 16px;

  &.search-bar--btn {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
  }

  ion-item {
    --inner-border-width: 0;
    --inner-padding-end: 0;
    border-radius: 6px;
    flex-grow: 1;
  }

  .icon-input {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    z-index: 2;
  }

  ion-input.form-control {
    --background: var(--gray-cl-1);
    --color: var(--text-cl-second);
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 42px;
    --padding-end: 15px;
    font-size: var(--fz-small);
    z-index: 1;
  }

  ion-button {
    height: auto;
    margin: 0;

    &.ion-button--blue {
      --background: #4083ff;
      font-size: var(--fz-small);
      font-weight: 400;
    }

    &.ion-button--gray {
      --background: var(--gray-cl-1);
    }
  }
}

ion-fab {
  position: fixed;
  bottom: 10px;
  right: 10px;

  ion-fab-button {
    --background: #ffc800;
  }
}
