:root {
  --font-body: "Inter", sans-serif;

  --fz-heading: 20px;
  --fz-body: 16px;
  --fz-small: 14px;

  --text-cl-primary: #252525;
  --text-cl-second: #6e6e73;
  --text-cl-third: #aeaeae;

  --icon-cl-second: #b9b9b9;

  // Basic color
  --primary-bl-cl: #2e5ea9;
  --primary-bl-cl-1: #f7faff;
  --primary-bl-cl-3: #9cbbeb;
  --primary-bl-cl-4: #5485d3;

  --primary-yl-cl: #fd9f13;
  --primary-yl-cl-4: #fecd59;

  --second-cl: #00a5f3;

  --white-cl: #ffffff;
  --black-cl: #000000;

  --border-cl: #f3f3f3;

  // Gray color
  --gray-screen-cl: #f4f6f8;
  --gray-cl-1: #f7f7f7;
}
