:root {
  --font-body: hl;
  --font-heading: "Montserrat", sans-serif;

  --fz-xxl: 24px;
  --fz-xl: 18px;
  --fz-lg: 16px;
  --fz-md: 14px;
  --fz-sm: 12px;

  // Basic color
  --primary-cl: #3563ac;
  --primary-cl-6: #234273;

  --second-cl: #fbc540;

  --white-cl: #ffffff;
  --black-cl: #000000;

  // Gray color
  --gray-cl-1: #f4f5f7;
  --gray-cl-2: #e7eaed;
  --gray-cl-3: #d1d8dc;
  --gray-cl-4: #b0bbbe;
  --gray-cl-5: #84939a;
  --gray-cl-6: #6f818c;
  --gray-cl-7: #3c4248;
  --gray-cl-8: #061726;
}
