<ion-header>
  <ion-toolbar>
    <ion-buttons class="button-back" slot="start">
      <ion-back-button defaultHref="/" text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title><p>Quản lý tiền mặt</p></ion-title>
    <ion-buttons slot="end">
      <ion-button href="cash-transfer/add" fill="clear">
        <img src="../../../assets/images/cashPlan-icon-2.svg" alt="" />
      </ion-button>
      <ion-button href="#" fill="clear">
        <img src="../../../assets/images/cashPlan-icon-1.svg" alt="" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="--gray" scroll-y="false">
  <div class="section cash-transfer manage">
    <div class="cash-transfer__wrap">
      <div class="cash-transfer__index">
        <div class="item">
          <p class="text">Dòng tiền vào</p>
          <p class="price --success">+ 5.000.000đ</p>
        </div>
        <div class="item">
          <p class="text">Dòng tiền ra</p>
          <p class="price --danger">- 5.000.000đ</p>
        </div>
        <div class="item">
          <p class="text">Dòng tiền ròng</p>
          <p class="price --warning">5.000.000đ</p>
        </div>
      </div>

      <div class="cash-transfer__statistical">
        <p class="sub-title">Thống kê dòng tiền vào ra</p>
        <div class="cash-transfer__statistical-chart">
          <div class="statistical-note">
            <p class="date">Năm 2023</p>
            <div class="note">
              <div class="item">
                <span class="status --success"></span>
                <span class="text">DT vào</span>
              </div>
              <div class="item">
                <span class="status --danger"></span>
                <span class="text">DT ra</span>
              </div>
              <div class="item">
                <span class="status --warning"></span>
                <span class="text">DT ròng</span>
              </div>
            </div>
          </div>
          <div class="statistical-chart">
            <canvas id="statistical"></canvas>
          </div>
        </div>
      </div>

      <p class="sub-title">Chi tiết dòng tiền vào/ra</p>
      <div class="cash-transfer__detail-cash">
        <div class="detail-item">
          <div class="cash-transfer__chart">
            <div class="cash-transfer__chart-body">
              <div class="filter-time">
                <div class="filter-time__wrap">
                  <div class="filter-time__range">
                    <ion-datetime-button
                      datetime="datetime2"
                      color="dark"
                      class="custom"
                    ></ion-datetime-button>
                  </div>
                  <img
                    class="filter-time__icon"
                    src="../../../assets/images/icon-calendar.svg"
                    alt=""
                  />
                </div>
              </div>

              <div class="chart-wrap">
                <canvas id="collectChart" width="232" height="232"></canvas>
              </div>
            </div>
          </div>

          <div class="cash-transfer__menu">
            <ion-item
              class="cash-transfer__menu-item"
              lines="none"
              detail="true"
              href="#"
            >
              <span class="status-tag --success"></span>
              <ion-label>
                <h3>Thu nhập Lương/ Tiết kiệm (40%)</h3>
                <p>0đ</p>
              </ion-label>
            </ion-item>

            <ion-item
              class="cash-transfer__menu-item"
              lines="none"
              detail="true"
              href="#"
            >
              <span class="status-tag --blue"></span>
              <ion-label>
                <h3>Thu nhập Đầu tư (20%)</h3>
                <p>0đ</p>
              </ion-label>
            </ion-item>

            <ion-item
              class="cash-transfer__menu-item"
              lines="none"
              detail="true"
              href="#"
            >
              <span class="status-tag --warning"></span>
              <ion-label>
                <h3>Thu nhập Kinh doanh (30%)</h3>
                <p>0đ</p>
              </ion-label>
            </ion-item>

            <ion-item
              class="cash-transfer__menu-item"
              lines="none"
              detail="true"
              href="#"
            >
              <span class="status-tag --blue-light"></span>
              <ion-label>
                <h3>Thu nhập khác (10%)</h3>
                <p>0đ</p>
              </ion-label>
            </ion-item>
          </div>
        </div>

        <div class="detail-item">
          <div class="cash-transfer__chart">
            <div class="cash-transfer__chart-body">
              <div class="filter-time">
                <div class="filter-time__wrap">
                  <div class="filter-time__range">
                    <ion-datetime-button
                      datetime="datetime3"
                      color="dark"
                      class="custom"
                    ></ion-datetime-button>
                  </div>
                  <img
                    class="filter-time__icon"
                    src="../../../assets/images/icon-calendar.svg"
                    alt=""
                  />
                </div>
              </div>

              <div class="chart-wrap">
                <canvas id="spendChart" width="232" height="232"></canvas>
              </div>
            </div>
          </div>

          <div class="cash-transfer__menu">
            <ion-item
              class="cash-transfer__menu-item"
              lines="none"
              detail="true"
              href="#"
            >
              <span class="status-tag --danger"></span>
              <ion-label>
                <h3>Thu nhập Lương/ Tiết kiệm (40%)</h3>
                <p>0đ</p>
              </ion-label>
            </ion-item>

            <ion-item
              class="cash-transfer__menu-item"
              lines="none"
              detail="true"
              href="#"
            >
              <span class="status-tag --blue"></span>
              <ion-label>
                <h3>Thu nhập Đầu tư (20%)</h3>
                <p>0đ</p>
              </ion-label>
            </ion-item>

            <ion-item
              class="cash-transfer__menu-item"
              lines="none"
              detail="true"
              href="#"
            >
              <span class="status-tag --warning"></span>
              <ion-label>
                <h3>Thu nhập Kinh doanh (30%)</h3>
                <p>0đ</p>
              </ion-label>
            </ion-item>

            <ion-item
              class="cash-transfer__menu-item"
              lines="none"
              detail="true"
              href="#"
            >
              <span class="status-tag --blue-light"></span>
              <ion-label>
                <h3>Thu nhập khác (10%)</h3>
                <p>0đ</p>
              </ion-label>
            </ion-item>
          </div>
        </div>
      </div>

      <div class="cash-transfer__work">
        <p class="title">Hoạt động gần nhất</p>
        <div class="cash-transfer__list">
          <div class="cash-transfer__item">
            <p class="cash-transfer__time">17/03/2023 Thứ 6</p>
            <div class="cash-transfer__box">
              <div class="cash-transfer__detail">
                <a href="approve/detail-expense">
                  <div class="header">
                    <p class="name">Thu nhập từ lương...</p>
                    <p class="number --success">0đ</p>
                  </div>
                  <div class="info">
                    <div class="info-item">
                      <span>Danh mục</span>
                      <span>Thu Nhập Lương/Tiết Kiệm</span>
                    </div>
                    <div class="info-item">
                      <span>Chi tiết</span>
                      <span>Aa</span>
                    </div>
                    <div class="info-item">
                      <span>Người yêu cầu duyệt</span>
                      <ion-avatar>
                        <img
                          alt="Silhouette of a person's head"
                          src="https://ionicframework.com/docs/img/demos/avatar.svg"
                        />
                      </ion-avatar>
                    </div>
                    <div class="info-item">
                      <span>Người đã phê duyệt</span>
                      <ion-avatar>
                        <img
                          alt="Silhouette of a person's head"
                          src="https://ionicframework.com/docs/img/demos/avatar.svg"
                        />
                      </ion-avatar>
                    </div>
                  </div>
                  <div class="tag">
                    <div class="tag-item">
                      <img
                        src="../../../assets/images/icon-tag-one.svg"
                        alt=""
                      />
                      Dòng tiền vào
                    </div>
                    <div class="tag-item --warning">
                      <img
                        src="../../../assets/images/icon-bell-noti.svg"
                        alt=""
                      />
                      Quan trọng
                    </div>
                    <div class="tag-item --warning">Chờ duyệt</div>
                  </div>
                </a>
              </div>

              <div class="cash-transfer__detail">
                <a href="approve/detail-expense">
                  <div class="header">
                    <p class="name">Thu nhập từ lương...</p>
                    <p class="number --success">0đ</p>
                  </div>
                  <div class="info">
                    <div class="info-item">
                      <span>Danh mục</span>
                      <span>Thu Nhập Lương/Tiết Kiệm</span>
                    </div>
                    <div class="info-item">
                      <span>Chi tiết</span>
                      <span>Aa</span>
                    </div>
                    <div class="info-item">
                      <span>Người yêu cầu duyệt</span>
                      <ion-avatar>
                        <img
                          alt="Silhouette of a person's head"
                          src="https://ionicframework.com/docs/img/demos/avatar.svg"
                        />
                      </ion-avatar>
                    </div>
                    <div class="info-item">
                      <span>Người đã phê duyệt</span>
                      <ion-avatar>
                        <img
                          alt="Silhouette of a person's head"
                          src="https://ionicframework.com/docs/img/demos/avatar.svg"
                        />
                      </ion-avatar>
                    </div>
                  </div>
                  <div class="tag">
                    <div class="tag-item">
                      <img
                        src="../../../assets/images/icon-tag-one.svg"
                        alt=""
                      />
                      Dòng tiền vào
                    </div>
                    <div class="tag-item --warning">
                      <img
                        src="../../../assets/images/icon-bell-noti.svg"
                        alt=""
                      />
                      Quan trọng
                    </div>
                    <div class="tag-item --warning">Chờ duyệt</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <a class="cash-transfer__link" href="#">Xem thêm danh sách</a>
      </div>
    </div>
  </div>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime2" presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime3" presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
