<ion-header>
  <ion-toolbar>
    <ion-buttons class="button-back" slot="start">
      <ion-back-button
        defaultHref="/member"
        text=""
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title><p>Thêm phòng ban</p></ion-title>
    <ion-buttons class="button-save" slot="end">
      <ion-button>Lưu</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false">
  <div class="section member add-position">
    <ion-list class="form-general member-form">
      <ion-item lines="none" class="no-input">
        <ion-label>
          <img
            class="icon-label"
            src="../../../../assets/images/icon-calendar.svg"
            alt=""
          />
          Ngày lập
        </ion-label>
        <p>17/03/2023 Thứ sáu</p>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Tên phòng ban</ion-label>
        <ion-input placeholder="Tên phòng ban"></ion-input>
      </ion-item>

      <ion-item lines="full" detail="false">
        <div class="input-group">
          <ion-input placeholder="Thành viên tham gia"></ion-input>
          <img
            class="icon-input icon-input-plus"
            src="../../../../assets/images/icon-plus.svg"
            alt=""
            (click)="setOpenMember(true)"
          />
          <img
            class="icon-input"
            src="../../../../assets/images/icon-trash.svg"
            alt=""
          />
        </div>
      </ion-item>
    </ion-list>

    <div class="member-select__list">
      <ion-item lines="full">
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        <ion-label>Admin</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>

      <ion-item lines="full">
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        <ion-label>Admin</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>

      <ion-item lines="full">
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        <ion-label>Admin</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </div>
  </div>

  <ion-modal id="member-modal" [isOpen]="isModalMemberOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title><p>Chọn thành viên</p></ion-title>
          <ion-buttons class="button-save" slot="end">
            <ion-button (click)="setOpenMember(false)">Lưu</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div class="modal-search search-bar">
          <ion-item class="ion-no-padding login-input">
            <img
              class="icon-input"
              src="../../assets/images/icon-search.svg"
              alt=""
            />
            <ion-input class="form-control" placeholder="Tìm kiếm"></ion-input>
          </ion-item>
        </div>
        <div class="staff-select">
          <div class="item">
            <ion-avatar>
              <img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
            <button class="close">
              <ion-icon name="close"></ion-icon>
            </button>
          </div>
        </div>
        <div class="modal-list staff-list">
          <ion-item lines="full">
            <ion-avatar slot="start">
              <img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
            <ion-label>Admin</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>

          <ion-item lines="full">
            <ion-avatar slot="start">
              <img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
            <ion-label>Admin</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>

          <ion-item lines="full">
            <ion-avatar slot="start">
              <img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
            <ion-label>Admin</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
