<ion-content class="ion-padding" [fullscreen]="true">
  <div class="section login">
    <div class="login-wrap">
      <img
        class="logo"
        srcset="../../assets/images/logo.png 2x"
        alt="BossStack"
      />
      <h1 class="login-title">Đăng nhập</h1>
      <div class="login-form">
        <ion-list>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">Email</ion-label>
            <ion-input class="form-control" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">Password</ion-label>
            <ion-input class="form-control" placeholder="Password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button class="btn-login" expand="block">Đăng nhập</ion-button>
        <ion-button class="btn-register" fill="outline" routerLink="/register"
          >Tạo tài khoản</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
