ion-content {
  --background: transparent;
  background-image: url("../../assets/images/login-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .logo {
    margin-bottom: 67px;
  }

  &-form {
    width: inherit;

    ion-list {
      margin-bottom: 12px;
      background: transparent;
    }

    .login-input {
      --background: inherit;
      --inner-border-width: 0;
      --inner-padding-end: 0;
      position: relative;

      &:first-child {
        margin-bottom: 20px;
      }

      ion-input.form-control {
        --color: var(--text-cl-second);
        --padding-top: 15px;
        --padding-bottom: 15px;
        --padding-start: 46px;
        --padding-end: 15px;
        border-radius: 6px;
        font-size: var(--fz-body);
        border: 1px solid var(--border-cl);
      }

      .icon-input {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
      }
    }
  }

  &-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    ion-item {
      --min-height: auto;
      --padding-start: 0;
      --inner-border-width: 0;
      --background-activated-opacity: 0;
      --background-focused-opacity: 0;
      --background-hover-opacity: 0;
      margin-bottom: 0;
      --background: transparent;
    }

    ion-checkbox {
      --size: 18px;
      --background-checked: #f3f3f3;
      --checkmark-width: 2;
      --checkmark-color: #2e5ea9;
      margin-inline: 0 18px;
    }

    ion-checkbox::part(container) {
      border-radius: 4px;
      border: 1px solid #d9d9d9;
    }

    ion-label {
      font-size: 14px;
      color: #2e5ea9;
    }

    .forgot-password {
      height: auto;
      font-size: 14px;
      font-weight: 500;
      color: #fd9f13;
      margin: 0;
    }
  }

  .btn-login {
    --background: #2e5ea9;
    height: 46px;
    margin-bottom: 18px;
  }

  .btn-register {
    height: auto;
    display: block;
    margin: 0;
    font-size: 16px;
    --border-color: transparent;
    --color: var(--primary-bl-cl);
    --background: transparent;
  }
}
