<ion-app>
  <ion-content [fullscreen]="true">
    <div class="section login">
      <div class="login-wrap">
        <img
          class="logo"
          srcset="../../assets/images/logo.png 2x"
          alt="BossStack"
        />
        <h1 class="login-title">Đăng nhập</h1>
        <form class="login-form" action="#">
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Stacked label</ion-label>
              <ion-input placeholder="Enter text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Stacked label</ion-label>
              <ion-input placeholder="Enter text"></ion-input>
            </ion-item>
          </ion-list>
        </form>
      </div>
    </div>
  </ion-content>
</ion-app>
