<ion-content fullscreen class="ion-padding-horizontal" scroll-y="false">
  <div class="section intro-app">
    <div class="intro-app__wrap">
      <img
        class="logo"
        srcset="../../assets/images/logo.png 2x"
        alt="BossStack"
      />
      <img
        class="intro-app__img"
        srcset="../../assets/images/intro-app-1.png 2x"
        alt="BossStack"
      />
      <h2 class="intro-app__title">BÓC TÁCH DÒNG TIỀN</h2>
      <p class="intro-app__content">
        Quản lý và điều chỉnh kịp thời sự biến động dòng tiền bằng cảnh báo của
        phần mềm BossStack.
      </p>
      <ion-button fill="clear" routerLink="/">
        Đi đến trang đăng nhập
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
