.plan-cash {
  padding: 0 16px;
  overflow-y: scroll;

  &-form {
    margin-top: 24px;

    #transferWallet {
      ion-label {
        display: block !important;

        .title {
          font-size: var(--fz-small);
          font-weight: 500;
          color: var(--text-cl-second);
          margin-bottom: 10px;
        }

        .wallet-name {
          font-size: var(--fz-body);
          color: var(--text-cl-primary);
          margin-bottom: 10px;
        }

        .wallet-info {
          font-size: 12px;
          color: var(--text-cl-second);

          span {
            font-size: var(--fz-small);
            color: var(--text-cl-primary);
          }
        }
      }
    }
  }
}
