<ion-header>
  <ion-toolbar>
    <ion-buttons class="button-back" slot="start">
      <ion-back-button defaultHref="/" text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <p>Lịch sử truy cập</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false">
  <div class="section history">
    <div class="search-bar">
      <ion-item class="ion-no-padding login-input">
        <img
          class="icon-input"
          src="../../assets/images/icon-search.svg"
          alt=""
        />
        <ion-input
          class="form-control"
          placeholder="Email đăng nhập"
        ></ion-input>
      </ion-item>
    </div>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        <ion-label>
          <p class="info">admin@gmail.com đăng nhập vào hệ thống</p>
          <p class="time">14/03/2023 13:05:28</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        <ion-label>
          <p class="info">admin@gmail.com đăng nhập vào hệ thống</p>
          <p class="time">14/03/2023 13:05:28</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        <ion-label>
          <p class="info">admin@gmail.com đăng nhập vào hệ thống</p>
          <p class="time">14/03/2023 13:05:28</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        <ion-label>
          <p class="info">admin@gmail.com đăng nhập vào hệ thống</p>
          <p class="time">14/03/2023 13:05:28</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
