.plan-cash {
  padding: 0 16px;
  overflow-y: scroll;

  &-form {
    margin-top: 24px;

    .toggle-group {
      display: flex;
      align-items: center;
      gap: 8px;

      p {
        font-size: var(--fz-small);
      }

      ion-toggle {
        padding-inline: 0;
      }
    }
  }

  .work-list {
    ion-item {
      --min-height: auto;
      --padding-start: 0;
      --inner-padding-end: 0;
      margin-bottom: 14px;

      &:last-child {
        margin-bottom: 0;
      }

      ion-thumbnail {
        --size: 32px;
        width: var(--size);
        height: var(--size);
        padding: 6px;
        margin: 0 12px 0 0;
        border-radius: 6px;
        background-color: #d9e8ff;
      }

      ion-label {
        h2 {
          font-size: var(--fz-small);
          font-weight: 500;
          margin-bottom: 2px;
        }

        p {
          font-size: 10px;
          color: var(--text-cl-third);
        }
      }
    }
  }
}
