.cash-manage {
  padding: 24px 16px;
  overflow-y: scroll;

  &__control {
    display: flex;
    align-items: center;
    gap: 16px;

    #prioritize {
      --background: #f0f0f0;
      --padding-top: 4px;
      --padding-bottom: 4px;
      --padding-start: 8px;
      --padding-end: 8px;
      --color: var(--text-cl-third);
      height: auto;
      margin: 0;
      font-weight: 600;

      img {
        margin-right: 4px;
      }
    }
  }

  &-form {
    margin-top: 24px;

    .toggle-group {
      display: flex;
      align-items: center;
      gap: 8px;

      p {
        font-size: var(--fz-small);
      }

      ion-toggle {
        padding-inline: 0;
      }
    }
  }

  .work-list {
    ion-item {
      --min-height: auto;
      --padding-start: 0;
      --inner-padding-end: 0;
      margin-bottom: 14px;

      &:last-child {
        margin-bottom: 0;
      }

      ion-thumbnail {
        --size: 32px;
        width: var(--size);
        height: var(--size);
        padding: 6px;
        margin: 0 12px 0 0;
        border-radius: 6px;
        background-color: #d9e8ff;
      }

      ion-label {
        h2 {
          font-size: var(--fz-small);
          font-weight: 500;
          margin-bottom: 2px;
        }

        p {
          font-size: 10px;
          color: var(--text-cl-third);
        }
      }
    }
  }
}

ion-modal {
  &#task-modal {
    --border-radius: 0;

    .staff-select {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 24px;

      .item {
        position: relative;

        ion-avatar {
          width: 32px;
          height: 32px;
        }

        .close {
          width: 16px;
          height: 16px;
          position: absolute;
          top: -5px;
          right: -6px;
          border-radius: 50%;
          background-color: #d9d9d9;

          ion-icon {
            color: #6e6e73;
          }
        }
      }
    }

    .staff-list {
      ion-item {
        --min-height: 54px;
        --border-color: #f1f1f1;
        --border-width: 0px 0px 0.55px 0px;

        ion-avatar {
          width: 40px;
          height: 40px;
        }

        ion-checkbox {
          --checkmark-color: #00a325;
          --background-checked: transparent;
          --border-color: transparent;
          --border-color-checked: transparent;
        }
      }
    }
  }
}
