.plan-cash {
  padding: 0 16px;
  overflow-y: scroll;

  &__detail {
    padding: 16px;
    border-radius: 6px;
    margin: 0 -15px 16px;
    background-color: var(--white-cl);

    .name {
      font-size: var(--fz-small);
      font-weight: 700;
      margin-bottom: 8px;
    }

    .info {
      margin-bottom: 10px;

      &-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          font-size: var(--fz-small);
          line-height: 18px;

          &:last-child {
            font-weight: 500;
            text-align: right;
          }
        }
      }
    }

    .status {
      display: inline-block;
      font-size: var(--fz-small);
      padding: 4px 8px;
      border-radius: 6px;
      color: var(--white-cl);

      &.--success {
        background-color: #38d29e;
      }

      &.--danger {
        background-color: #f04d64;
      }
    }
  }

  &__status {
    margin-bottom: 12px;

    ion-item {
      --min-height: auto;
      --padding-top: 8px;
      --padding-bottom: 8px;
      --padding-start: 16px;
      --inner-padding-end: 16px;
      --background: var(--white-cl);
      border-radius: 6px;
    }

    &-wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &-left,
    &-right {
      display: flex;
      align-items: center;

      p {
        font-size: var(--fz-small);
      }
    }

    &-right {
      gap: 12px;

      p {
        font-weight: 500;
        color: #f04d64;
      }
    }
  }

  &__noti {
    padding: 16px;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #3465d9;

    p {
      color: var(--white-cl);
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 6px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        font-size: var(--fz-small);
      }
    }

    img {
      position: absolute;
      right: 14px;
      bottom: -20px;
    }
  }

  &__info {
    #pills-chart {
      margin: 0 16px;
      padding: 22px 11px;
      border-radius: 6px;
      background-color: var(--white-cl);
    }

    .chart-wrap {
      canvas {
        width: 100% !important;
        height: 300px !important;
      }
    }

    #pills-plan {
      .tab-content {
        padding: 0 16px;
        background-color: var(--white-cl);

        .plan-cash {
          &__item {
            margin-bottom: 15px;

            &:last-child {
              margin-bottom: 0;
            }
          }

          &__time {
            padding: 8px 16px;
            margin: 0 0 12px;
            font-weight: 500;
            border-radius: 6px;
            font-size: var(--fz-small);
            color: var(--primary-bl-cl);
            background-color: var(--primary-bl-cl-1);
          }

          &__detail {
            padding: 16px;
            border-radius: 6px;
            background-color: var(--white-cl);
            margin-bottom: 6px;

            &:last-child {
              margin-bottom: 0;
            }

            .info {
              margin-bottom: 10px;

              &-item {
                display: flex;
                justify-content: space-between;
                margin-bottom: 8px;

                &:last-child {
                  margin-bottom: 0;
                }

                span {
                  font-size: var(--fz-small);
                  line-height: 18px;

                  &:last-child {
                    font-weight: 700;
                    text-align: right;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal-timeline {
  &__noti {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    margin-bottom: 24px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

    &-img {
      width: 44px;
      height: 44px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fdedee;
    }

    &-content {
      .title {
        font-weight: 600;
        margin-bottom: 6px;

        .date {
          color: #3465d9;
        }
      }

      .name {
        font-size: 12px;
        color: var(--text-cl-second);
      }
    }
  }

  &__list {
    max-width: 300px;
    margin: 0 auto;
    position: relative;

    &::before {
      content: "";
      width: 2px;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 96px;
      background-color: #d9d9d9;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    &-date {
      width: 78px;

      p {
        font-size: 12px;
        color: #6e6e73;
        text-align: right;

        &:first-child {
          margin-bottom: 4px;
        }
      }
    }

    &-tick {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      top: 6px;
      left: 94px;
      background-color: var(--text-cl-second);
    }

    &-text {
      width: 184px;
      font-size: 12px;
      color: #6e6e73;
    }

    &.present {
      .modal-timeline__item-date {
        p {
          color: var(--text-cl-primary);
        }
      }

      .modal-timeline__item-tick {
        width: 16px;
        height: 16px;
        top: 0;
        left: 89px;
        background-color: #f04d64;

        &::before {
          content: "";
          display: inline-block;
          height: 6px;
          width: 3px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          border-bottom: 1px solid var(--white-cl);
          border-right: 1px solid var(--white-cl);
        }
      }

      .modal-timeline__item-text {
        color: #f04d64;
      }
    }
  }
}
