<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/plan-cash/edit" fill="clear">
        <img src="../../../assets/images/cashPlan-icon-10.svg" alt="" />
      </ion-button>
    </ion-buttons>
    <ion-title><p>Chi tiết dòng tiền</p></ion-title>
    <ion-buttons class="button-done" slot="end">
      <ion-button href="plan-cash" fill="clear">Xong</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="--gray" scroll-y="false">
  <div class="section plan-cash detail">
    <div class="plan-cash__wrap">
      <div class="plan-cash__detail">
        <p class="name">Tên dòng tiền kh</p>
        <div class="info">
          <div class="info-item">
            <span>Phân loại</span>
            <span>Aa</span>
          </div>
          <div class="info-item">
            <span>Kế hoạch</span>
            <span>Aa</span>
          </div>
          <div class="info-item">
            <span>Số tiền còn lại</span>
            <span class="number">0đ</span>
          </div>
          <div class="info-item">
            <span>Thời gian hoàn thành kế hoạch</span>
            <span>0 tháng</span>
          </div>
          <div class="info-item">
            <span>Tuổi hiện tại</span>
            <span>0 tuổi</span>
          </div>
          <div class="info-item">
            <span>Tuổi hoàn thành kế hoạch</span>
            <span>0 tuổi</span>
          </div>
        </div>
        <!-- <p class="status --success">Hoạt động</p> -->
      </div>

      <div class="plan-cash__status">
        <ion-item lines="none" id="timeline" button detail="false">
          <div class="plan-cash__status-wrap">
            <div class="plan-cash__status-left">
              <span class="status-tag --danger"></span>
              <p>Trạng thái</p>
            </div>
            <div class="plan-cash__status-right">
              <p>Tất toán</p>
              <img src="../../../../assets/images/icon-right.svg" alt="" />
            </div>
          </div>
        </ion-item>
      </div>

      <div class="plan-cash__noti">
        <div class="plan-cash__noti-content">
          <p class="plan-cash__noti-item">
            Để đạt được kế hoạch tài chính: <span>0đ</span>
          </p>
          <p class="plan-cash__noti-item">
            Bạn cần tích lũy: <span>0đ/tháng</span>
          </p>
          <p class="plan-cash__noti-item">Trong: <span>0 năm</span></p>
          <p class="plan-cash__noti-item">
            Số tiền tích lũy đầu kỳ: <span>0đ</span>
          </p>
        </div>
        <img src="../../../../assets/images/cashPlan-img-1.png" alt="" />
      </div>

      <div class="plan-cash__info detail-tabs">
        <ul
          class="nav nav-pills nav-pills--parent mb-3"
          id="pills-tab"
          role="tablist"
        >
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="pills-chart-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-chart"
              type="button"
              role="tab"
              aria-controls="pills-chart"
              aria-selected="true"
            >
              Biểu đồ kế hoạch
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="pills-plan-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-plan"
              type="button"
              role="tab"
              aria-controls="pills-plan"
              aria-selected="false"
            >
              Kế hoạch tích lũy
            </button>
          </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-chart"
            role="tabpanel"
            aria-labelledby="pills-chart-tab"
          >
            <div class="filter-time">
              <div class="filter-time__wrap">
                <div class="filter-time__range">
                  <ion-datetime-button
                    datetime="datetime1"
                    color="dark"
                    class="custom"
                  ></ion-datetime-button>
                  <span>-</span>
                  <ion-datetime-button
                    datetime="datetime2"
                    color="dark"
                    class="custom"
                  ></ion-datetime-button>
                </div>
                <img
                  class="filter-time__icon"
                  src="../../../assets/images/icon-calendar.svg"
                  alt=""
                />
              </div>
            </div>

            <div class="chart-wrap">
              <canvas id="myChart"></canvas>
              <div class="chart-wrap__note">
                <div class="chart-wrap__note-item">
                  <p class="tag-color --orange"></p>
                  <p class="tag-content">
                    <span class="text">Số tiền mục tiêu</span>
                    <span class="number">0 đ</span>
                  </p>
                </div>
                <div class="chart-wrap__note-item">
                  <p class="tag-color --green"></p>
                  <p class="tag-content">
                    <span class="text">Tiền tích lũy hằng năm</span>
                    <span class="number">0 đ</span>
                  </p>
                </div>
                <div class="chart-wrap__note-item">
                  <p class="tag-color --red"></p>
                  <p class="tag-content">
                    <span class="text">Số dư tích lũy</span>
                    <span class="number">0 đ</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="pills-plan"
            role="tabpanel"
            aria-labelledby="pills-plan-tab"
          >
            <ul
              class="nav nav-pills nav-pills mb-3"
              id="pills-tab"
              role="tablist"
            >
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="pills-saveMonth-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-saveMonth"
                  type="button"
                  role="tab"
                  aria-controls="pills-saveMonth"
                  aria-selected="true"
                >
                  Tích lũy theo tháng
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="pills-saveYear-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-saveYear"
                  type="button"
                  role="tab"
                  aria-controls="pills-saveYear"
                  aria-selected="false"
                >
                  Tích lũy theo năm
                </button>
              </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="pills-saveMonth"
                role="tabpanel"
                aria-labelledby="pills-saveMonth-tab"
              >
                <div class="plan-cash__list">
                  <div class="plan-cash__item">
                    <p class="plan-cash__time">Tháng 03/2023</p>
                    <div class="plan-cash__box">
                      <div class="plan-cash__detail">
                        <div class="info">
                          <div class="info-item">
                            <span>Tiền tích lũy cuối tháng</span>
                            <span>0đ</span>
                          </div>
                          <div class="info-item">
                            <span>Số dư cuối kỳ</span>
                            <span>0đ</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="plan-cash__item">
                    <p class="plan-cash__time">Tháng 03/2023</p>
                    <div class="plan-cash__box">
                      <div class="plan-cash__detail">
                        <div class="info">
                          <div class="info-item">
                            <span>Tiền tích lũy cuối tháng</span>
                            <span>0đ</span>
                          </div>
                          <div class="info-item">
                            <span>Số dư cuối kỳ</span>
                            <span>0đ</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="tab-pane fade"
                id="pills-saveYear"
                role="tabpanel"
                aria-labelledby="pills-saveYear-tab"
              >
                <div class="plan-cash__list">
                  <div class="plan-cash__item">
                    <p class="plan-cash__time">Tuổi 23</p>
                    <div class="plan-cash__box">
                      <div class="plan-cash__detail">
                        <div class="info">
                          <div class="info-item">
                            <span>Tiền tích lũy cuối tháng</span>
                            <span>0đ</span>
                          </div>
                          <div class="info-item">
                            <span>Số dư cuối kỳ</span>
                            <span>0đ</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="plan-cash__item">
                    <p class="plan-cash__time">Tuổi 23</p>
                    <div class="plan-cash__box">
                      <div class="plan-cash__detail">
                        <div class="info">
                          <div class="info-item">
                            <span>Tiền tích lũy cuối tháng</span>
                            <span>0đ</span>
                          </div>
                          <div class="info-item">
                            <span>Số dư cuối kỳ</span>
                            <span>0đ</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-modal
    #timeline
    trigger="timeline"
    [initialBreakpoint]="0.5"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-content scroll-y="false">
        <p class="modal-title">Thông tin phân bổ</p>
        <div class="modal-timeline">
          <div class="modal-timeline__noti">
            <div class="modal-timeline__noti-img">
              <img
                src="../../../../assets/images/cashPlan-icon-11.svg"
                alt=""
              />
            </div>
            <div class="modal-timeline__noti-content">
              <h2 class="title">
                Đã tất toán vào <span class="date">18/03/2023 Thứ ba</span>
              </h2>
              <p class="name">Ví mục tiêu A</p>
            </div>
          </div>

          <div class="modal-timeline__list">
            <div class="modal-timeline__item present">
              <div class="modal-timeline__item-date">
                <p>28 tháng 3</p>
                <p>11:32</p>
              </div>
              <div class="modal-timeline__item-tick"></div>
              <p class="modal-timeline__item-text">Đã tất toán</p>
            </div>

            <div class="modal-timeline__item">
              <div class="modal-timeline__item-date">
                <p>22 tháng 1</p>
                <p>12:32</p>
              </div>
              <div class="modal-timeline__item-tick"></div>
              <p class="modal-timeline__item-text">
                Chuyển hết số tiền đến ví B số tiền 500,000đ
              </p>
            </div>

            <div class="modal-timeline__item">
              <div class="modal-timeline__item-date">
                <p>22 tháng 1</p>
                <p>12:32</p>
              </div>
              <div class="modal-timeline__item-tick"></div>
              <p class="modal-timeline__item-text">Tạo ra ví mục tiêu A</p>
            </div>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime1" presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime2" presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
