<ion-header>
  <ion-toolbar>
    <ion-title><p>Đổi mật khẩu</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding-horizontal --gray"
  [fullscreen]="true"
  scroll-y="false"
>
  <div class="section forgot-password">
    <div class="forgot-password__wrap">
      <p class="title">Quên mật khẩu</p>
      <p class="sub-title">
        Vui lòng nhập địa chỉ email bạn đã đăng ký trên hệ thống.
      </p>
      <form action="">
        <div class="forgot-password__form">
          <div class="form-group">
            <label for="">Nhập email</label>
            <input
              type="text"
              name=""
              id=""
              class="form-control"
              placeholder="@gmail.com"
            />
          </div>
        </div>

        <ion-button expand="block">Xác nhận</ion-button>
      </form>
    </div>
  </div>
</ion-content>
