.forgot-password {
  &__wrap {
    padding: 48px 0;

    .title,
    .sub-title {
      text-align: center;
    }

    .title {
      font-weight: 700;
      margin-bottom: 8px;
      color: var(--text-cl-primary);
    }

    .sub-title {
      font-size: var(--fz-small);
      font-weight: 500;
      color: var(--text-cl-second);
      margin-bottom: 28px;
    }
  }

  form {
    label {
      color: #3465d9;
      font-size: var(--fz-small);
      font-weight: 500;
      margin-bottom: 8px;
      display: inline-block;
    }

    .form-control {
      padding: 12px 16px;
      border: 1px solid #f1f1f1;
      border-radius: 6px;
      background-color: var(--white-cl);
      font-size: var(--fz-small);
      color: var(--text-cl-second);
    }
  }

  ion-button {
    --background: #3465d9;
    height: 38px;
    margin: 42px 0 0;
    font-size: var(--fz-small);
    font-weight: 500;
  }
}
