<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bs">
      <img class="tab-icon" src="../../assets/images/icon-logo.svg" alt="" />
      <p>BS</p>
    </ion-tab-button>
    <ion-tab-button tab="approve">
      <ion-icon name="list-outline"></ion-icon>
      <p>Phê duyệt</p>
    </ion-tab-button>
    <ion-tab-button tab="task">
      <ion-icon name="folder-outline"></ion-icon>
      <p>Dự án</p>
      <!-- <img class="tab-icon" src="../../assets/images/icon-tab-add.svg" alt="" /> -->
    </ion-tab-button>
    <ion-tab-button tab="notification">
      <ion-icon name="notifications-outline"></ion-icon>
      <p>Thông báo</p>
    </ion-tab-button>
    <ion-tab-button tab="personal">
      <ion-icon name="person-outline"></ion-icon>
      <p>Cá nhân</p>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
