<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bs">
      <img class="tab-icon" src="../../assets/images/icon-logo.svg" alt="" />
      <p>BS</p>
    </ion-tab-button>
    <ion-tab-button tab="task">
      <img class="tab-icon" src="../../assets/images/icon-tab-add.svg" alt="" />
      <p>Tạo dự án</p>
    </ion-tab-button>
    <ion-tab-button tab="approve">
      <img
        class="tab-icon"
        src="../../assets/images/icon-tab-approve.svg"
        alt=""
      />
      <p>Phê duyệt</p>
    </ion-tab-button>
    <ion-tab-button tab="personal">
      <img
        class="tab-icon"
        src="../../assets/images/icon-tab-personal.svg"
        alt=""
      />
      <p>Cá nhân</p>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
