.member {
  padding: 12px 0;
  &-package {
    padding: 12px 16px;
    margin-bottom: 24px;
    background: center/100% no-repeat
      url("../../../assets/images/member-pack-img.jpg");

    &__info {
      margin-bottom: 4px;

      li {
        font-size: var(--fz-small);
        margin-bottom: 6px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .title {
        font-weight: 500;
      }

      .package-name {
        font-weight: 600;
        color: #3465d9;
      }
    }

    &__control {
      display: flex;
      justify-content: flex-end;
    }

    ion-button {
      --padding-top: 4px;
      --padding-start: 16px;
      --padding-end: 16px;
      --padding-bottom: 4px;
      height: auto;
      margin: 0;
      font-size: var(--fz-small);
      font-weight: 400;

      img {
        margin-right: 4px;
      }
    }
  }

  &-list {
    &__title {
      font-weight: 600;
      margin-bottom: 12px;

      .count {
        font-weight: 400;
      }
    }

    .search-bar {
      padding: 0;
      margin-bottom: 24px;
    }

    &__body {
      height: 443px;
      margin: 0 -15px;
      overflow-y: scroll;
    }

    &__item {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__date {
      padding: 8px 16px;
      font-weight: 500;
      margin-bottom: 12px;
      font-size: var(--fz-small);
      color: var(--primary-bl-cl);
      background-color: var(--primary-bl-cl-1);
    }

    &__info {
      padding: 0 16px;
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 6px;

      .member-name {
        font-size: var(--fz-small);
      }

      .member-tag {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: var(--text-cl-third);

        ion-icon {
          margin-right: 4px;
          font-size: 20px;
        }

        &.staff {
          color: var(--primary-bl-cl-4);
        }

        &.manage {
          color: var(--primary-yl-cl-4);
        }
      }
    }

    &__content {
      p {
        font-size: 12px;
        color: var(--text-cl-second);
        margin-bottom: 6px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
