.member {
  padding: 12px 0;
  &-package {
    padding: 12px 16px;
    margin-bottom: 24px;
    background: center/100% no-repeat
      url("../../../assets/images/member-pack-img.jpg");

    &__info {
      margin-bottom: 4px;

      li {
        font-size: var(--fz-small);
        margin-bottom: 6px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .title {
        font-weight: 500;
      }

      .package-name {
        font-weight: 600;
        color: #3465d9;
      }
    }

    &__control {
      display: flex;
      justify-content: flex-end;
    }

    ion-button {
      --padding-top: 4px;
      --padding-start: 16px;
      --padding-end: 16px;
      --padding-bottom: 4px;
      height: auto;
      margin: 0;
      font-size: var(--fz-small);
      font-weight: 400;

      img {
        margin-right: 4px;
      }
    }
  }

  &-list {
    .search-bar {
      padding: 0;
      margin-bottom: 24px;

      ion-input {
        --background: var(--white-cl);
      }
    }

    &__body {
      height: 443px;
      margin: 0 -15px;
      overflow-y: scroll;

      .position-total {
        font-size: var(--fz-small);
        font-weight: 500;
        margin: 0 16px 6px;
      }

      ion-accordion-group {
        margin: 0 16px;

        ion-accordion {
          margin-bottom: 6px;
          border-radius: 6px;
          padding: 16px;

          &:last-child {
            margin-bottom: 0;
          }

          ion-item {
            --padding-start: 0;
            --inner-padding-end: 0;

            &.header {
              --border-width: 0;
              --min-height: 0;
            }

            .position-name {
              font-weight: 500;
              font-size: var(--fz-small);
              display: block;
            }

            .position-count {
              font-size: 12px;
              color: var(--text-cl-second);
              display: block;
            }
          }

          .content {
            margin-top: 24px;

            ion-item {
              --min-height: 58px;
              --border-color: #f1f1f1;
            }

            ion-avatar {
              width: 32px;
              height: 32px;
            }

            p {
              color: var(--text-cl-primary);
            }

            .member-name {
              font-size: var(--fz-small);
              font-weight: 500;
              margin-bottom: 4px;
            }

            .member-email {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

ion-popover {
  ion-content {
    ion-item {
      --min-height: 38px;
    }

    ion-icon {
      font-size: 18px;
      margin-left: 4px;
    }

    ion-label {
      font-weight: 500;
      font-size: var(--fz-small);
    }
  }
}
