<ion-header>
  <ion-toolbar>
    <ion-buttons class="button-back" slot="start">
      <ion-back-button defaultHref="/" text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title><p>Quản lý thành viên</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  class="ion-padding-horizontal"
  scroll-y="false"
>
  <div class="section member manage">
    <div class="member-wrap">
      <div class="member-package">
        <ul class="member-package__info">
          <li>
            <span class="title">Gói đăng ký:</span>
            <span class="package-name"> Gói Standard</span> ( 15 User )
          </li>
          <li><span class="title">Thời hạn:</span> 17/02/2022 - 17/02/2023</li>
          <li><span class="title">Số user đang sử dụng:</span> 15</li>
        </ul>
        <div class="member-package__control">
          <ion-button shape="round">
            <img src="../../../assets/images/member-icon-1.svg" alt="" />
            Liên hệ
          </ion-button>
        </div>
      </div>

      <div class="member-list">
        <p class="member-list__title">
          Danh sách thành viên <span class="count">(15 nhân viên)</span>
        </p>
        <div class="search-bar search-bar--btn">
          <ion-item class="ion-no-padding login-input">
            <img
              class="icon-input"
              src="../../assets/images/icon-search.svg"
              alt=""
            />
            <ion-input
              class="form-control"
              placeholder="Tra cứu mọi thứ"
            ></ion-input>
          </ion-item>
          <ion-button class="ion-button--gray">
            <img src="../../../assets/images/icon-fillter.svg" alt="" />
          </ion-button>
        </div>
        <div class="member-list__body">
          <div class="member-list__item">
            <p class="member-list__date">17/03/2023 Thứ 6</p>
            <div class="member-list__info">
              <div class="member-list__top">
                <p class="member-name">Nguyễn Thị Nhân viên</p>
                <p class="member-tag staff">
                  <ion-icon name="bookmark"></ion-icon>
                  Nhân viên
                </p>
              </div>
              <div class="member-list__content">
                <p class="member-position">Chức vụ: Aa</p>
                <p class="member-department">Thuộc phòng ban: Aa</p>
                <p class="date-start">Ngày bắt đầu: mm/dd/yy</p>
              </div>
            </div>
          </div>

          <div class="member-list__item">
            <p class="member-list__date">17/03/2023 Thứ 6</p>
            <div class="member-list__info">
              <div class="member-list__top">
                <p class="member-name">Nguyễn Thị Admin</p>
                <p class="member-tag manage">
                  <ion-icon name="bookmark"></ion-icon>
                  Admin
                </p>
              </div>
              <div class="member-list__content">
                <p class="member-position">Chức vụ: Aa</p>
                <p class="member-department">Thuộc phòng ban: Aa</p>
                <p class="date-start">Ngày bắt đầu: mm/dd/yy</p>
              </div>
            </div>
          </div>

          <div class="member-list__item">
            <p class="member-list__date">17/03/2023 Thứ 6</p>
            <div class="member-list__info">
              <div class="member-list__top">
                <p class="member-name">Nguyễn Thị Nhân viên</p>
                <p class="member-tag staff">
                  <ion-icon name="bookmark"></ion-icon>
                  Nhân viên
                </p>
              </div>
              <div class="member-list__content">
                <p class="member-position">Chức vụ: Aa</p>
                <p class="member-department">Thuộc phòng ban: Aa</p>
                <p class="date-start">Ngày bắt đầu: mm/dd/yy</p>
              </div>
            </div>
          </div>

          <div class="member-list__item">
            <p class="member-list__date">17/03/2023 Thứ 6</p>
            <div class="member-list__info">
              <div class="member-list__top">
                <p class="member-name">Nguyễn Thị Nhân viên</p>
                <p class="member-tag staff">
                  <ion-icon name="bookmark"></ion-icon>
                  Nhân viên
                </p>
              </div>
              <div class="member-list__content">
                <p class="member-position">Chức vụ: Aa</p>
                <p class="member-department">Thuộc phòng ban: Aa</p>
                <p class="date-start">Ngày bắt đầu: mm/dd/yy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ion-fab>
      <ion-fab-button size="small" href="/member/add">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
