ion-content {
  // --overflow: hidden;
  --background: transparent;
  background-image: url("../../assets/images/login-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  // overflow: auto;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

.register {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .logo {
    margin-bottom: 67px;
  }

  &-form {
    width: inherit;

    ion-list {
      margin-bottom: 32px;
      background: transparent;
    }

    ion-item {
      --background: inherit;
      --inner-border-width: 0;
      --inner-padding-end: 0;
      margin-bottom: 20px;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      ion-input.form-control {
        --color: var(--text-cl-second);
        --padding-top: 15px;
        --padding-bottom: 15px;
        --padding-start: 46px;
        --padding-end: 15px;
        border-radius: 6px;
        font-size: var(--fz-body);
        border: 1px solid var(--border-cl);
      }

      .icon-input {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
      }
    }
  }

  ion-button {
    --background: #2e5ea9;
    height: 46px;
    margin-bottom: 18px;
  }

  .have-account {
    height: auto;
    margin: 0;
    font-size: var(--fz-small);
    text-decoration: underline;
    display: block;
    text-align: center;
    --border-color: transparent;
    --color: var(--primary-yl-cl);
    --background: transparent;
  }
}
